* {
  margin: 0;
  padding: 0;
  --background-theme: linear-gradient(180deg, #5e1cec 0%, #f74128 100%), #ffffff;
  --pixel-font: "Press Start 2P";
}

body {
  background-color: #f2f2f2;
}

*:focus {
  outline: none;
}

.title {
  font-family: "Press Start 2P";
  padding: 30px;
  letter-spacing: 1px;
  animation: glow 2s ease-in-out infinite alternate;
}

/* Glow effect */
@keyframes glow {
  from {
    /* text-shadow: 0 0 20px #2d9da9; */
    text-shadow: 0 0 20px #4caa11;
  }
  to {
    /* text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7; */
    text-shadow: 0 0 30px #51c71a, 0 0 10px #48cc14;
  }
}

.title h1 {
  padding: 10px;
}

.landing-container {
  width: 100%;
  height: 100vh;
  background: var(--background-theme);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  transition: 2s;
  overflow: hidden;
}

.landing-form-container {
  width: 70%;
  margin: 0 auto;
  font-family: var(--pixel-font);
  font-style: normal;
  font-weight: normal;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 255, 0.2);
}

.landing-form-container label {
  text-align: left;
}

.landing-form-container input {
  background: transparent;
  border: 1px solid white;
  margin-bottom: 5px;
  transition: ease-in 0.5s;
  color: white;
}

.landing-form-container input:hover {
  box-shadow: 7px 7px 2px 1px rgba(0, 0, 255, 0.2);
}

.create-join-container {
  width: 100%;
  margin-bottom: 10px;
}

.create-join-container button {
  width: 50%;
  background-color: Transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 6px;
}

.submit {
  width: 30%;
  background: white;
  border: 1px solid white;
  color: #5e1cec;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  transition: ease-in 0.5s;
  font-weight: 600;
}

.right-side-button {
  display: flex;
  justify-content: flex-end;
}

.submit:hover {
  box-shadow: 7px 7px 2px 1px rgba(0, 0, 255, 0.2);
}

.select {
  border: 1px solid white !important;
  border-bottom: 0 !important;
}

.button-select {
  font-family: var(--pixel-font);
  width: 100%;
  font-size: 18px;
  color: white;
  background-color: #F64128;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.normalize-bot {
  display: flex;
  flex-direction: column;
}

.choose-label {
  text-align: center;
  font-size: 48px;
  font-family: var(--pixel-font);
  text-decoration: none;
  background-color: #5E1CEC;
  color: white;
  padding: 10px;
  letter-spacing: 3px;
}

.lobby-container {
  padding: 40px;
  font-family: var(--pixel-font);
}

.lobby-container h1 {
  padding: 20px;
}

.game-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.question-container {
  width: 90%;
  background-color: #bdbdbd;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: center;
  align-items: center;
}

.question-container button {
  height: 100%;
}

.question-container h1,
.question-container h2 {
  font-family: var(--pixel-font);
  background: linear-gradient(180deg, #5e1cec 0%, #f74128 100%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
}

.question-container h1 {
  cursor: pointer;
  border: none;
  font-size: 36px;
}

.question-container input {
  width: 70%;
  padding: 5px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-input {
  width: 100%;
  display: flex;
}

.question-input button {
  width: 20%;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #5E1CEC;
}

.guess-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.guess-button-container button {
  font-family: var(--pixel-font);
  height: 100%;
  width: 100%;
  font-size: 36px;
  background-color: #5E1CEC;
}

.reply {
  text-align: center;
  margin-top: 16px;
}

#modal-container {
  background-color: #bdbdbd;
}

.answer-modal-title {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  background: -webkit-linear-gradient(#5e1cec, #f74128);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0.5em 0;
  flex-wrap: wrap;
}

.answer-modal-question {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #000;
  margin: 1em 0;
  flex-wrap: wrap;
}

.answer-modal-button-container {
  display: flex;
  justify-content: space-between;
}

.answer-modal-button {
  margin: 20px;
}

.character-container {
  width: 100%;
  height: 300px;
  background: var(--background-theme);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.card-img {
  width: 80px;
  height: 125px;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
  transition: 1s ease-in;
}

.card-img:hover {
  border: 1px solid orange;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
}

.game-container {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.game-container button {
  border: none;
  cursor: pointer;
  color: white;
  transition: 1s ease-in;
}

.game-container button:hover {
  /* background-color: white; */
  /* color: #232323; */
  /* border-right: 1px solid white;
  border-left: 1px solid white; */
}

.grid-container {
  display: flex;
}

.grid-container button {
  width: 20px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 1s ease-in;
}

.left-btn {
  background-color: #5e1cec;
}

.right-btn {
  background-color: #f64128;
}

.left-btn:hover {
  background-color: #f64128;
  color: #5e1cec;
}

.right-btn:hover {
  color: #f64128;
  background-color: #5e1cec;
}

.gallery {
  width: 50%;
}

.eliminate {
  opacity: 0.2;
  border: 1px solid red;
}

.guess {
  width: 100%;
  height: 30px;
}

.character-wrapper {
  /* width: 90%; */
}

.select-answer {
  border: 1px solid green;
  opacity: 1;
}

.waitingRoom {
  height: 100vh;
  width: 100vw;
  background: var(--background-theme);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waitingRoom h1 {
  margin-bottom: 100px;
}

/* waiting for response animation */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Circular loading animation */
.loader {
  border: 16px solid var(--background-theme);
  border-top: 16px solid #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: 58px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Waiting for player 2 animation */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.loading {
  display: flex;
  flex-direction: row;
}
.loading__letter {
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: var(--pixel-font);
  color: #fff;
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.loading__letter:nth-child(2) {
  animation-delay: 0.1s;
}
.loading__letter:nth-child(3) {
  animation-delay: 0.3s;
}
.loading__letter:nth-child(4) {
  animation-delay: 0.5s;
}
.loading__letter:nth-child(5) {
  animation-delay: 0.7s;
}
.loading__letter:nth-child(6) {
  animation-delay: 0.9s;
}
.loading__letter:nth-child(7) {
  animation-delay: 1.1s;
}
.loading__letter:nth-child(8) {
  animation-delay: 1.3s;
}
.loading__letter:nth-child(9) {
  animation-delay: 1.5s;
}
.loading__letter:nth-child(10) {
  animation-delay: 1.7s;
}
.loading__letter:nth-child(11) {
  animation-delay: 1.9s;
}
.loading__letter:nth-child(12) {
  animation-delay: 2.1s;
}
.loading__letter:nth-child(13) {
  animation-delay: 2.3s;
}
.loading__letter:nth-child(14) {
  animation-delay: 2.5s;
}
.loading__letter:nth-child(15) {
  animation-delay: 2.7s;
}
.loading__letter:nth-child(16) {
  animation-delay: 2.9s;
}
.loading__letter:nth-child(17) {
  animation-delay: 3.1s;
}
.loading__letter:nth-child(18) {
  animation-delay: 3.3s;
}
.loading__letter:nth-child(19) {
  animation-delay: 3.5s;
}
.loading__letter:nth-child(20) {
  animation-delay: 3.7s;
}
.loading__letter:nth-child(21) {
  animation-delay: 3.9s;
}
.loading__letter:nth-child(22) {
  animation-delay: 4.1s;
}
.loading__letter:nth-child(23) {
  animation-delay: 4.3s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-40px);
  }
  80%,
  100% {
    transform: translateY(0px);
  }
}

/* End Screen */
.end-screen {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: var(--background-theme);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.end-screen h1 {
  font-size: xxx-large;
}

.end-screen div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.end-div {
  text-align: center;
}

.username {
  font-size: large;
  animation: showup 7s infinite;
}

.message-div {
  font-size: large;
  width: 0px;
  animation: reveal 7s infinite;
}

.message-div span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: auto;
    margin-left: 8px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: auto;
    margin-left: 8px;
  }
}

@media only screen and (min-device-width: 768px) {
  .landing-form-container {
    width: 30%;
  }

  .card-img {
    /* width: 125px;
    height: 175px; */
    min-width: 100%;
    min-height: 100%;
    display: block;
  }

  .character-container {
    height: 75vh;
    grid-gap: 20px;
    padding: 20px;
    box-sizing: border-box;
  }

  .game-container {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    display: grid;
    grid-template-rows: 2fr 15fr 3fr;
  }

  .question-container {
    width: 100%;
    background-color: #bdbdbd;
    border-radius: 0;
    box-sizing: border-box;
    padding: 5px;
    grid-template-columns: 2fr 1fr;
  }

  .question-container span {
    width: 70%;
    margin: 0 auto;
  }
}
