* {
  margin: 0;
  padding: 0;
  --background-theme: linear-gradient(180deg, #5E1CEC 0%, #F74128 100%), #FFFFFF;
  --pixel-font: 'Press Start 2P';
}

body {
  background-color: #F2F2F2;
}

*:focus {
  outline: none;
}

.title {
  font-family: 'Press Start 2P';
  padding: 30px;
  letter-spacing: 1px;
}

.title h1 {
  padding: 10px;
}

.landing-container {
  width: 100%;
  height: 100vh;
  background: var(--background-theme); 
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  transition: 2s;
}

.landing-form-container {
  width: 70%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 255, .2);
}

.landing-form-container label {
  text-align: left;
}

.landing-form-container input {
  background: transparent;
  border: 1px solid white;
  margin-bottom: 5px;
  transition: ease-in 0.5s;
  color: white;
}


.landing-form-container input:hover {
  box-shadow: 7px 7px 2px 1px rgba(0, 0, 255, .2);
}



.create-join-container {
  width: 100%;
  margin-bottom: 10px;
}

.create-join-container button {
  width: 50%;
  background-color: Transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  cursor: pointer;
  outline:none;
  padding: 6px;
}

.submit {
  width: 30%;
  background: white;
  border: 1px solid white;
  color: #5E1CEC;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
  outline:none;
  transition: ease-in 0.5s;
  font-weight: 600;
}

.right-side-button {
  display:flex;
  justify-content:flex-end;
}

.submit:hover {
  box-shadow: 7px 7px 2px 1px rgba(0, 0, 255, .2);
}

.select {
  border: 1px solid white !important;
  border-bottom: 0 !important;
}

.normalize-bot {
  display: flex;
  flex-direction: column;
}

.lobby-container {
  padding: 40px;
  font-family: 'Roboto', sans-serif;
}

.lobby-container h1 {
  padding: 20px;
}

.game-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.question-container {
  width: 80%;
  background-color: #BDBDBD;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  
}

.question-container h1, h2 {
  font-family: var(--pixel-font);
  background: linear-gradient(180deg, #5E1CEC 0%, #F74128 100%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
}

.question-container h1 {
  cursor: pointer;
  border: none;
  font-size: 36px;
}

.question-container input {
  width: 70%;
  padding: 5px ;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-input {
  width: 100%;
  display: flex;
}

.question-input button {
  width: 30%;
}

.reply {
  text-align: center;
}

.answer-modal-title {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  background: -webkit-linear-gradient(#5E1CEC, #F74128);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0.5em 0;
  flex-wrap: wrap;
}

.answer-modal-question {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #333333;
  margin: 0.5em 0;
  flex-wrap: wrap;
}

.answer-modal-button-container {
  display: flex;
  justify-content: center;
}

.answer-modal-button {
  margin: 20px;
}

.character-container {
  width: 100%;
  height: 300px;
  background-color: #232323;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 5px;
}

.card-img {
  width: 80px;
  height: 125px;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
  /* transition: 1s ease-in; */
}

.card-img:hover {
  border: 1px solid orange;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);;
}

.game-container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.game-container button {
  border: none;
  cursor: pointer;
  color: white;
  transition: 1s ease-in;
  background-color: #232323;
}

.game-container button:hover {
  background-color: white;
  color: #232323;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.grid-container {
  display: flex;
}

.grid-container button {
  width: 20px;
}

.gallery {
  width: 50%;
}

.eliminate {
  opacity: 0.2;
  border: 1px solid red;
}

.guess {
  width: 100%;
  height: 30px;
}

.character-wrapper {
  /* width: 90%; */
}

.select-answer {
  border: 1px solid green;
  opacity: 1;
}

@media only screen 
and (min-device-width : 768px) {
  .landing-form-container {
    width: 30%;
  }

  .card-img {
    width: 125px;
    height: 175px;
  }

  .character-container {
    height: 450px;
  }
}